/* Universal Selector */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Type selector/ Tag selector */
/* h1{
    color: aqua;
    background-color: black;
} */

/* ID Selector */
#eg1{
    color: yellow;
    background-color: blue;
}

/* Class Selector */

.my-box{
    color: red;
    background-color: pink;
}


.btn{
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: aqua;
    font-weight: 800;
}

#eg3>div>h2{
    color: red;
}